{% extends "shared/base.html" %}

{% block title %}Histórico Financeiro{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1>Histórico Financeiro</h1>
        <h2>Rendimento do período</h2>
        
        <!-- Aqui será exibido o gráfico -->
        {{ script|safe }}
        {{ div|safe }}

        <form method="get" class="mb-4">
            <label for="periodo" class="resultado-grafico">Selecione o período:</label>
            <select name="periodo" id="periodo" onchange="this.form.submit()" class="form-select w-auto d-inline mx-2">
                <option value="3" {% if periodo == 3 %}selected{% endif %}>3 meses</option>
                <option value="6" {% if periodo == 6 %}selected{% endif %}>6 meses</option>
                <option value="9" {% if periodo == 9 %}selected{% endif %}>9 meses</option>
                <option value="12" {% if periodo == 12 %}selected{% endif %}>1 ano</option>
            </select>
        </form>

        <article class="resultado-grafico">
            <div>
                <div class="rendimento">Rendimento total no período: </div>
                R$ {{ valor_total|floatformat:2 }}
            </div>
            <div>
                <div class="rendimento">Rendimento médio no período: </div>
                R$ {{ valor_medio|floatformat:2 }}
            </div>
        </article>
        <nav class="button-margin">
            <a href="{% url 'analytics' %}"  class="button">Voltar a Visualização Geral</a>
            <!-- listar os rendimentos dos últimos 3 meses e listar alunos ativos-->
        </nav>
    </div>

    
{% endblock %}

<!--{% block extra_scripts %}-->
    <!--{{ script|safe }}-->
{% endblock %}