{% extends "shared/base.html" %}

{% block title %}Visualização Geral{% endblock %}

{% block content %}
    <div>
        <h1>Visualização Geral</h1>
        <h2>Rendimento dos últimos 3 meses</h2>
        
        <!-- Aqui será exibido o gráfico -->
        {{ script|safe }}
        {{ div|safe }}

        <nav class="button-margin">
            <a href="{% url 'analytics_finance' %}" class="button">Relatório Detalhado</a>
            <!-- listar os rendimentos dos últimos 3 meses e listar alunos ativos-->
            <a href="{% url 'listar_agendas' %}" class="button">Voltar para lista</a>
        </nav>
    </div>

    <div>
        <h2>Lista de alunos ativos</h2>
        <nav class="button-margin">
            <a href="#" class="button">Mais detalhes</a>
        </nav>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Sobrenome</th>
                    <th>Telefone</th>
                    <th>Data de Início</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for aluno in alunos_ativos %}
                 <tr class>
                     <td>{{ aluno.first_name }}</td>
                     <td>{{ aluno.last_name }}</td>
                     <td>{{ aluno.phone }}</td>
                     <td>{{ aluno.date_joined|date:"d/m/Y"}}</td>
                     <td>
                         <a href="#" class="btn btn-primary btn-sm">Ativo</a>
                         <a href="#" class="btn btn-danger btn-sm">Inativo</a>
                     </td>
                 </tr>

                {% empty %}
                    <tr>
                        <td colspan="8">Agenda vazia!</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

<!--{% block extra_scripts %}-->
    <!--{{ script|safe }}-->
{% endblock %}