{% extends 'shared/base.html' %}

{% block 'title' %}Editar Agenda{% endblock 'title'%}

    {% block content %}
        <title>Editar Treino</title>
        <div class="container">
            <h1>Editar Treino</h1>
            <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="green-button">Atualizar</button>
            <button class ="button" onclick="history.back()">Voltar</button>
        </form>
        </div>
    {% endblock content %}