{% extends 'shared/base.html' %}

{% block 'title' %}Home{% endblock 'title' %}

{% block content %}
    <section>
        <h1>Sistema de Agendamento de Treinos</h1>
        {% if user.is_authenticated %}
            <p>Bem-vindo, {{ user.username }}!</p>
            <nav class="menu">
                <a href="{% url 'listar_agendas' %}" class="btn btn-primary">Ver Agenda</a>
                <a href="{% url 'cadastrar_agenda' %}" class="btn btn-success">Agendar Nova Aula</a>
                <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
            </nav>
        {% else %}
            <p>Olá, visitante! <a href="{% url 'login' %}">Entre</a> para ter acesso a mais conteúdos.</p>
            <p>Ou clique em <a href="{% url 'register' %}" >Cadastrar-se</a> para criar uma conta.
        {% endif %}
        <p>Este sistema permite o gerenciamento de treinos entre professores e alunos.</p>
    </section>

 {% endblock content %}