{% extends 'shared/base.html' %}

{% block 'title' %}Listar Agenda{% endblock 'title' %}

{% block content %}
    <div class="container mt-5">

        <h1>Listagem de Agendas</h1>
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <p>Usuário atual: {{ user.email }}</p>
        <a href="{% url 'index' %}" class="btn btn-secondary">Home</a>
        <a href="{% url 'cadastrar_agenda' %}" class="btn btn-success">Agendar Nova Aula</a>

            <div class="text-center">
                <form method="get" class="mb-4">
                    <div class="row justify-content-center align-items-center g-2">
                        <div class="col-auto">
                            <label for="filtro" class="col-form-label fw-bold">Filtrar por:</label>
                        </div>
                        <div class="col-auto">
                            <select name="filtro" id="filtro" class="form-select" onchange="this.form.submit()">
                                <option value="futuras" {% if filtro_aplicado == 'futuras' %}selected{% endif %}>Aulas Futuras</option>
                                <option value="passadas" {% if filtro_aplicado == 'passadas' %}selected{% endif %}>Aulas Passadas</option>
                                <option value="canceladas" {% if filtro_aplicado == 'canceladas' %}selected{% endif %}>Canceladas</option>
                                <option value="" {% if not filtro_aplicado or filtro_aplicado == '' %}selected{% endif %}>Todas as aulas</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Aluno</th>
                    <th>Valor(R$)</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Descrição</th>
                    <th>Criado em</th>
                    <th>Ações</th>
                </tr>
            </thead>

            <tbody>
                {% for agenda in agendas %}
                    <tr {% if agenda.cancelado %}class="table table-striped"{% endif %}>
                        <td>{{ agenda.professor }}</td>
                        <td>{{ agenda.aluno }}</td>
                        <td>{{ agenda.valor }}</td>
                        <td>{{ agenda.data|date:"d/m/Y" }}</td>
                        <td>{{ agenda.hora|time:"H:i" }}</td>
                        <td>{{ agenda.descricao }}</td>
                        <td>{{ agenda.created_at|date:"d/m/Y H:i" }}</td>
                        <td>
                            {% if agenda.cancelado %}
                                <span class="badge bg-danger">❌ Treino Cancelado</span>
                            {% else %}
                                <a href="{% url 'editar_agenda' agenda.id %}"class="btn btn-primary btn-sm me-1">Editar</a>
                                <a href="{% url 'cancelar_agenda' agenda.id %}"class="btn btn-warning btn-sm me-1"onclick="return confirm('Tem certeza que deseja cancelar este treino?')">Cancelar</a>
                            {% endif %}
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">Nenhum treino agendado</td>
                    </tr>
                {% endfor %}
            </tbody>
            
        </table>
    </div>
{% endblock content %}

