{% extends 'shared/base.html' %}

{% block 'title' %}Listar Agenda{% endblock 'title' %}

{% block content %}
    <div class="container mt-5">

        <h1>Listagem de Agendas</h1>
        {% if messages %}
            <div class="alert alert-success">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <p>Usuário atual: {{ user.username }}</p>
        <a href="{% url 'index' %}" class="btn btn-secondary">Home</a>
        <a href="{% url 'cadastrar_agenda' %}" class="btn btn-success">Agendar Nova Aula</a>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Professor</th>
                    <th>Aluno</th>
                    <th>Valor(R$)</th>
                    <th>Data</th>
                    <th>Horário</th>
                    <th>Descrição</th>
                    <th>Criado em</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for agenda in agendas %}
                 <tr class>
                     <td>{{ agenda.professor }}</td>
                     <td>{{ agenda.aluno }}</td>
                     <td>{{ agenda.valor }}</td>
                     <td>{{ agenda.data }}</td>
                     <td>{{ agenda.hora }}</td>
                     <td>{{ agenda.descricao }}</td>
                     <td>{{ agenda.created_at }}</td>
                     <td>
                         <a href="{% url 'editar_agenda' agenda.id %}" class="btn btn-primary btn-sm">Editar Treino</a>
                         <a href="{% url 'deletar_agenda' agenda.id %}" class="btn btn-danger btn-sm">Deletar Treino</a>
                     </td>
                 </tr>

                {% empty %}
                    <tr>
                        <td colspan="8">Agenda vazia!</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}

