{% load static %}
<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Muli" />
    {% block 'head' %} {% endblock %}
    <title>{% block 'title' %} {% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" text="text/css" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <article class="font-size">
            <a href="{% url 'index' %}">
                <img src="{% static 'images/logo.png' %}" class="home-img" alt="Logo do Agenda Fitness">
            </a>
            <nav>
                <p>Alterar tamanho da fonte: </p>
                <button onclick="adjustFontSize(1)" class="button">A+</button> <!-- Aumenta a fonte -->
                <button onclick="adjustFontSize(-1)" class="button">A-</button> <!-- Diminui a fonte -->
                <button onclick="resetFontSize()" class="button">Reset</button> <!-- Restaura a fonte -->
            </nav>
        </article>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    </header>
    <main>
        <nav>
            {% block content %}
                {% if user.is_authenticated %}
                    <p id='logado'>Bem-vindo, {{ user.username }}  </p>
                    <a href="{% url 'listar_agendas' %}" class="btn btn-primary">Ver Agenda</a>
                    <a href="{% url 'cadastrar_agenda' %}" class="btn btn-success">Agendar Nova Aula</a>
                    <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
                {% else %}
                    <article class="mt-4">
                        <p> Olá Visitante <a class="dropdown" href="{% url 'register' %}">Entre</a> para ter acesso a mais conteúdos. </p>
                    </article>
                {% endif %}
            {% endblock content %}
            <div style="display: flex; justify-content: center;">
            <button id="lucky-biscuit-btn" class="btn btn-info mt-4" style="text-align: center;">Conselho grátis</button>
            <div id="advice-container" class="mt-3"></div>
            </div>

        </nav>
    </main>
    <footer class="footer">
        <a href="https://www.instagram.com/luana.albino/" target="_blank"><img class="footer-img" src="https://i.imgur.com/XjchrUQ.png" alt="logo do instagram"></a>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#lucky-biscuit-btn').click(function() {
                $.ajax({
                    url: '{% url "conselho" %}',
                    type: 'GET',
                    success: function(response) {
                        $('#advice-container').html('<p>' + response.advice + '</p>');
                    },
                    error: function() {
                        $('#advice-container').html('<p>Ocorreu um erro ao obter o conselho.</p>');
                    }
                });
            });
        });
    </script>
</body>
</html>
