{% extends 'shared/base.html' %}

{% block 'title' %}Login{% endblock 'title' %}

    {% block content %}
        <section class="formulario">
            <h2>Login</h2>
            <label class="card-body">
                <form method="POST">
                    {% csrf_token %}
                    <!-- Mensagem de erro para falha de autenticação -->
                    {% if form.non_field_errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                    <!-- Campos do formulário de login -->
                    {% for field in form %}
                        <div class="mb-3">
                            {{ field.label_tag }}
                            {{ field }}
                            {% if field.errors %}
                                <div class="text-danger">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <button type="submit" class="button">Entrar</button>
                    <button class ="button" onclick="history.back()">Voltar</button>
                </form>
            </label>
        </section>


    {% endblock %}
